asn1crypto==0.24.0
beautifulsoup4==4.8.2
brotlipy==0.7.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
pycparser==2.19
pywin32==224
requests==2.22.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.5
urllib3==1.25.7
